services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - POSTGRES_DB=reviio_db
      - POSTGRES_PASSWORD=202823
      - POSTGRES_USER=d4lion
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/data/postgres

volumes:
  pgdata: